{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>

<div class="row">
    {% for products in Product %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="{{ products.image_url}}">
            <div class="card-body">
                <h5 class="card-title">{{ products.Name }}</h5>
                <p class="card-text">{{ products.Price }} /-</p>
                <a class="btn btn-primary" href="#">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}